body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #4facfe, #00f2fe);
    color: #333;
}

.weather-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.app-header {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.app-header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
}

.app-content {
    background-image: url("https://resize.indiatvnews.com/en/resize/newbucket/1200_-/2023/03/weather-today-1679634345.jpg");
     background: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.app-footer {
    margin-top: 20px;
    color: #fff;
}
